
<%= link_to 'Ver declaración', root_url, class: 'btn btn-secondary' %>
<%= link_to 'Firma tú también!', root_url + '#firma', class: 'btn btn-primary' %>
<br>
<br>
<h1>Firmas</h1>

<ol id="signatures">
  <% @members.each do |member| %>
      <li><%= member.name %></li>
  <% end %>
</ol>

<%= link_to 'Ver declaración', root_url, class: 'btn btn-secondary' %>
<%= link_to 'Firma tú también!', root_url + '#firma', class: 'btn btn-primary' %>


