<table class="table">

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td>
          <h1><%= page.title %></h1>
          <%= markdown(page.body) %>
          <br>
        <%= link_to 'Editar', edit_page_path(page), class: 'btn btn-primary' %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>