// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.table.members{
	th, td{
	    padding: 0.2rem;
	}
}