// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#admin-navbar{
  margin: -8px -16px 0 -16px;
}

body{
  padding-top: 100px;
  padding-bottom: 50px;
}

.nav-item.right-item{
  margin-right: 1rem;
}


.alert{
  margin: 10px 0;
}

#signatures{
  ol{
    padding-left: 0;
  }
  li{
    margin-left: 4rem;
  }

  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4;
  @media (max-width: 992px) {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
  @media (max-width: 760px) {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
  @media (max-width: 460px) {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

@media (min-width: 768px) {
  .sidebar{
    position: fixed;
    top: 120px;
    right: 40px;
  }
}

@media (max-width: 410px){
  .navbar-brand{
    display: none;
  }
}


.navbar{
  font-size: 1.4em;
  @media (max-width: 680px) {
    font-size: 1em;
  }
  .navbar-brand{
    font-size: 1em;
    padding-top: .425rem;
    padding-bottom: .425rem;
  }
  .tw{
    color: #0084b4;
  }
  .fb{
    color: #3b5998;
  }
}