<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Prioridad Infancia</title>
    <%= csrf_meta_tags %>
    <% if admin? %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% end %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= render 'layouts/analytics' %>
  </head>

  <body>
    
    <nav class="navbar navbar-fixed-top navbar-light bg-faded">

      <% if admin? %>
        <nav class="navbar navbar-dark bg-inverse" id="admin-navbar">
          <h3 class="pull-xs-left">Administración</h3>
          <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item">
               <%= link_to 'Declaración', pages_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
               <%= link_to 'Firmas', members_path, class: 'nav-link' %>
            </li>  

            <li class="nav-item">
               <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-link' %> 
            </li>  
          </ul>
          
        </nav>
      <% end %>
      <ul class="nav navbar-nav">
        <%= link_to 'Prioridad Infancia', root_url, class: 'navbar-brand' %>
        <li class="nav-item">
           <%= link_to 'Declaración', root_url, class: 'nav-link' %>
        </li>
        <li class="nav-item">
           <%= link_to 'Firmas', signatures_path, class: 'nav-link' %>
        </li>   


      </ul>
      <ul class="nav navbar-nav">
        <li class="nav-item pull-xs-right tw">
          <a class="nav-link tw" target="_blank" href="https://twitter.com/intent/tweet?hashtags=NoMásAbusoALaInfancia&text=Súmate en&url=http://prioridadinfancia.cl">
          <i class="fa fa-twitter tw" aria-hidden="true"></i>
          <span class="hidden-xs-down tw">Twittea</span>
          </a>
        </li>  
        <li class="nav-item pull-xs-right right-item fb">
          <a class="nav-link fb" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//prioridadinfancia.cl">
          <i class="fa fa-facebook fb" aria-hidden="true"></i>
          <span class="hidden-xs-down fb">Comparte</span>
          </a>
        </li>
      </ul>
    </nav>

    <div class="container">
      <% if notice %>
        <div class="row">
          <div class="col-md-9">
            <p id="notice" class="alert alert-info" role="alert"><%= notice %></p>
          </div>
        </div>
      <% end %>

      <div class="row">
         <%= yield %>
      </div>

    </div>

    
  </body>
</html>
