<h3>Únete</h3>
<%= form_for(member) do |f| %>
  <% if member.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(member.errors.count, "error") %>:</h4>

      <ul>
      <% member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :name, class: "form-control", placeholder: 'Nombre', pattern: ".{3,}", required: true %>
  </div>

  <div class="form-group">
    <%= f.text_field :rut, class: "form-control", placeholder: 'RUT (ej. 12.345.678-1)', required: true %>
  </div>

  <div class="form-group">
    <%= f.text_field :email, class: "form-control", placeholder: 'Email (opcional)' %>
    <small class="text-muted">Sólo tu nombre será público.</small>
  </div>

  

  <div class="actions">
    <%= f.submit 'Adherir', class: 'btn btn-primary form-control' %>
  </div>
<% end %>
