<h1>Administración de firmas</h1>

<%= link_to "Download CSV", members_path(format: "csv") %>

<table class="table members">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Rut</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= member.email %></td>
        <td><%= member.rut %></td>
        <td><%= link_to 'Editar', edit_member_path(member), class: "btn btn-sm btn-info" %></td>
        <td><%= link_to 'Borrar', member, method: :delete, data: { confirm: 'Estás seguro?' }, class: "btn btn-sm btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
