<div class="col-md-9">
  <h1><%= page.title %></h1>
  <%= markdown(page.body) %>
  <%= link_to "Junto a otros #{Member.all.count} adherentes", signatures_path %> 
</div>

<div class="col-md-3 col-md-offset-1 sidebar">
  <div class="sidebar-module sidebar-module-inset" id="firma">
    <%= render 'form', member: @member %>
  </div>
 
</div>
